streamlit
ultralytics
opencv-python-headless==4.8.1.78
pillow
numpy
pandas

ultralytics==8.0.196
opencv-python-headless==4.8.1.78

streamlit
ultralytics
numpy
pandas
pillow
opencv-python-headless==4.8.1.78
